/* Write the CSS for you answer here */
#div-all{
    position: relative;
    margin: auto;
    width: 600px;
}

.bground{
    width: 100%;
    position: absolute;

    }

#land{
    z-index: 5;
}
#tree {
    position: center;
    top:100px;
    z-index: 10;
}

.ball{
    position: absolute;
    z-index: 100;
}

#blueb{
    top: 341px;
    left: 35px;
}

#dblueb{
    top: 296px;
    left: 122px;
}

#greenb{
    top: 329px;
    left: 198px;
}

#orangb{
    top: 290px;
    left: 345px;
    z-index: 9;
}

#pinkb{
    top: 247px;
    left: 419px;
}

#redb{
    top: 313px;
    left: 512px;
    z-index: 9;
}